<% if !@design.errors.empty? %>
   <div class = "alert alert-error">  
      <ul>
         <% @design.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>   
   </div>
<% end %>
<div class = "well">
   <%= form_for @design, html: { multipart: true } do |f| %>
      <%= f.label :Image %>
      <%= f.file_field :image %>
      <%= f.label :Description %>
      <%= f.text_area :description %>
      <div>
        <% @cat.each do |cat| %>
          <div>
          <%= check_box_tag "categories[]",  cat.id %>
          <%= cat.cat_name %>
          </div>
        <% end %>
      </div>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>