<div class="form">
	
	<%= link_to "Admin-login" , new_admin_session_path %><br><br>
	<%= link_to "Admin-logout" , destroy_admin_session_path %><br><br>




	
	<%= link_to "User-login" , new_user_session_path %><br><br>
	<%= link_to "User-logout" , destroy_user_session_path %><br><br>
	<%= link_to "Manage-User" , manage_user_path %><br><br>
</div>