<div class="form">
	<p>hello</p>

	<%= link_to "Manage_user" , manage_user_path %><br><br>
	<%= link_to "View Post" , manage_path %><br><br>
	<%= link_to "Manage_user" , manage_path %><br><br>
	<%= link_to "Manage_user" , manage_path %><br><br>
	<%= link_to "Manage_user" , manage_path %>
</div>
<div class="section">
	

</div>

<div class="main"></div>