<table class="table purple-bg">
  <thead>
    <tr class="tr_heading" >
      <th>User name</th>
      <th>City</th>
      <th>Email</th>
      <th>Created-at</th>
      <th>Status</th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |u| %>
      <tr class="<%= u.activation == true ? 'success' : 'danger' %>">
        <td><%= u.name %></td>
        <td><%= u.city.city_name %> </td>
        <td><%= u.email %></td>
        <td><%= u.created_at.strftime('%C-%m-%Y') %></td>
        <td>
            <% if u.activation == true %>
                <%= button_to "UnBlocked", update_activation_path(id: u.id),remote: true , method: "post" , id: "btn#{u.id}" , class: "btn demoa btn-success btn-outline" %>
            <% else %>
                <%= button_to "Blocked", update_activation_path(id: u.id),remote: true , method: "post" , id: "btn#{u.id}" , class: "btn demoa btn-danger  btn-outline" %>
        </td>
        <br>
            <% end %> 
      </tr> 
    <% end %>
  </tbody>
</table>

<%= will_paginate @users , renderer: BootstrapPagination::Rails %>