<table class = "table table-bordered table-striped">
   <tbody>
      <% @designs.each do |design| %>
        <div>
         <tr id = 'tr<%=design.id%>' >
             <td><%= link_to(image_tag("#{design.image_url}", size: "100x100"), home_path({design_id: design}))%></td>
             <td><%= design.description %></td>
             <td><%= link_to '<button  class="btn  btn-success btn-outline">Delete Image</button>'.html_safe , designs_del_design_path({design_id: design}),remote:true , method: "delete" ,id: "btn#{design.id}" %>
             </td>
         </tr>
        </div>
      <% end %>
   </tbody>
</table>


<%= will_paginate @designs , renderer: BootstrapPagination::Rails %>
