
<script>
	$( function() {
    var user = <%= @users.pluck(:name).inspect.html_safe %>
    $( ".search" ).autocomplete({
      source: user
    });
  } );
</script>


<div class="col-sm-3 purple-bg" align="center">
	<% if admin_signed_in? %>
		<b class="tr_heading ">Admin Pannel</b><br><br>
			<div class="row"><div >
		  		<%= form_tag(search_path, :method => "get", id: "search-form",remote: true) do %>
   				<%= text_field_tag :search, params[:search], placeholder: "Search Users" %><br><br>
    			<%= submit_tag "Search", :name => nil,class: 'btn btn-primary' %>	
				<% end %>	
			</div>
</div><br><br>
	

	<button class="btn btn-primary demo">
		<%= link_to "Add-New-User" , new_user_invitation_path,remote: true %>
	</button>
	<br><br><br>
	
	<button class="btn btn-primary demo">
		<%= link_to "manage user" , manage_user_path,remote: true %>
	</button>
	<br><br><br>
		
	<button class="btn btn-primary demo">
		<%= link_to  "ALL USER DESIGN", show_all_design_path, remote: true %>
	</button>
	<br><br><br>
	
	<button class="btn btn-primary demo">
		<%= link_to  "BLOCKED/UNBLOCK LIST", activate_user_path, remote: true %>
	</button>
	<br><br><br>
		
	<button class="btn btn-primary demo">
		<%= link_to "REPORT"  %>
	</button>
	<br><br><br>
	
	<button class="btn btn-primary demo">
		<%= link_to "Log Out", destroy_admin_session_path %>
	</button><br><br><br><br>
	<% end %>
						
</div>
<div id="right_div" class="col-sm-9">
	<%#= render "admins/manage/manage_user" %>
</div>





