<p><%= link_to "<<BACK>>" , root_path %></p>
<p>
  <%= link_to  "ADD User" ,  new_user_invitation_path %>,
</p>


<table border="1" >
  <tr>
  <th>USER___MANAGEMENT</th> <th>ACTION</th> <th>USER_STATUS</th>

  </tr><% @user.each do |a| %><tr>
    <td>
      <%= link_to  a.name , profile_path(id: a.id)  %><br>
    </td>
    <td>
      <%= link_to  "DELETE " , delete_path(id: a.id) %>|
      
      <%= link_to  "UPDATE " , edit_user_registration_path(id: a.id) %><br>
    </td>
     <td>
      <%= link_to  a.activation , activate_user_path(id: a.id)  %><br>
    </td>
    </tr>
  <% end %>

</table>