<div class="col-md-4">	
<h1>Welcome Admin</h1>

<br>



<br>
   <%= form_tag searchanythings_path, :method => 'get' do %>
  			<%= text_field_tag :search, params[:search], placeholder: "Search Anythings" %>
  			<%= submit_tag "Search" %>
		<% end %>

<br>
	<button class="btn btn-primary demo">
	<%= link_to "See All Repoarts" , reports_path %></button><br><br><br>

		<button class="btn btn-primary demo">
	<%= link_to "See All Users" , showusers_path %></button><br><br><br>

	<!-- 
<%= link_to 'See All Repoarts', reports_path %>  -->
<br>