<div class="row ">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title ">
      <h5><%=@title if @title.present?%></h5>
      </div>
      <div class="ibox-content">
        <div class="carousel-inner">
          <div class="item gallery active">
            <% if images.present? %>
            <div class="wrapper wrapper-content animated fadeInRight">
              <div class="row">
                <% images.each do |design| %>
                <div class="col-md-3">
                  <div class="ibox">
                    <div class="ibox-content product-box">
                      <div class="product-imitation image-padding-5px" >
                        <%= link_to(image_tag("#{design.image_url}", size: "230x200"), home_path(id: design)) %>
                      </div>
                      <div class="product-desc">
                        <div class="m-t text-righ">
                          <% if current_user.favourited_designs.include?(design) %>
                            <%= link_to favourites_change_fav_path(design_id: design),remote: true , method: "post" , id: "btn#{design.id}" , class: "btn btn-xs btn-warning" do %>
                              <i class="fa fa-star"> Favourite</i>
                            <% end %>
                          <% else %>
                            <%= link_to favourites_change_fav_path(design_id: design),remote: true , method: "post" , id: "btn#{design.id}" , class: "btn btn-xs btn-default" do %>
                              <i class="fa fa-star"> Favourite</i>
                            <% end %>
                          <% end %>
                          <% if  design.feedbacks.where(user_id: current_user.id, like: true).count == 0 %>
                            <%= link_to feedbacks_like_path(design_id: design), remote: true , method: "post" , id: "likebtn#{design.id}",class: "btn btn-xs btn-default" do%>
                              <i class="fa fa-heart"> Like</i>
                            <% end %>
                          <% else %>
                            <%= link_to feedbacks_like_path(design_id: design), remote: true , method: "post" , id: "likebtn#{design.id}",class: "btn btn-xs btn-danger" do%>
                              <i class="fa fa-heart"> Like</i>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
            <% else %>
            <div>
              <p>Post are not available.It may happen in case if you don't follow someone.</p>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>