
<%= button_to "Back", home_dashboard_path, method: "get" %>

	<% if !designs.nil? %>
		<h2>Search Result:</h2><br>
		<% designs.each do |design| %>
			<%= link_to(image_tag("#{design.image_url}", size: "250x250"), home_path({design_id: design})) %><br />
			<% if  design.favourites.where(user_id: current_user.id).count == 0 %>
					<%= button_to "Add to favourites", favourites_change_fav_path(design_id: design),remote: true , method: "post" , id: "btn#{design.id}" %>

			<% else %>
					<%= button_to "Remove from favourites", favourites_change_fav_path(design_id: design), remote: true , method: "post" , id: "btn#{design.id}" %>
			<% end %>
			<% if  design.feedbacks.where(user_id: current_user.id ).count == 0 %>
				<%= button_to "Like", feedbacks_like_path(design_id: design), remote: true , method: "post" , id: "likebtn#{design.id}" %>
			<% else %>
				<% if  design.feedbacks.where(user_id: current_user.id , like: true).count == 0 %>
					<%= button_to "Like", feedbacks_like_path(design_id: design), remote: true,method: "post" , id: "likebtn#{design.id}" %>
				<% else %>
					<%= button_to "Dislike",feedbacks_like_path(design_id: design), remote: true,method: "post" , id: "likebtn#{design.id}"%>
				<% end %>
			<% end %>
		<% end %>
	<% else %>
	<h2>Search Result:</h2><br>
	<% end %>
