<div>
		<h1>Search by User Name: </h1>

		<div >
		   <%= form_for :search, remote: true do |f| %>
					<%= f.label 'seacrh_by_name' %>
					<%= f. text_field :user %>
					<%= f.submit 'Search'  %>
			<% end %>	
		</div>

		<div class="abc" >
				<%= render partial: 'home/list', locals: { users: @users} %>
		</div>
</div>