	<div class="recipient">
		<%= @user.name %>
	</div>
	<div class="chats" id="msg">
		<ul>
			<% msgs.each do |message| %>
			<li>
				<% if message.sender_id == current_user.id %>

				<% message.designs.each do |design| %>
				<div class="send">
					<%= link_to home_path(design_id: design.id), method: "get", target: "_blank" do %>
					<div class="image-r">
						<%= image_tag("#{design.image_url}") %> 
					</div>
					<% end %>
				</div>
				<% end %>
				<div class="send">
					<% if message.body != "" %>
					<div class="text-r">
						<%= message.body %>	
					</div>
					<% end %>
				</div>

				<% else %>

				<% Design.where(id: message.designs_id).each do |design| %>
				<div class="receiver">
					<%= link_to home_path(design_id: design.id), method: "get", target: "_blank" do %>
					<div class="image-l"> 
						<%= image_tag("#{design.image_url}") %> 
					</div>
					<% end %>
				</div>
				<% end %>
				<div class="receiver">
					<% if message.body != "" %>
					<div class="text-l">
						<%= message.body %>	
					</div>
					<% end %>
				</div>
				<% end %>	

				<% end %>
			</li>
		</ul>
	</div>