<div class="col-md-3 side-left">
	<div class="current-user">
		<%= current_user.name%>
	</div>
	<div class="recipients-search">
		<%= render partial: 'chats/search',locals: { allusers: @all_users } %>
	</div>
	<div class="recipients" id="recp" style="overflow-y: auto;height: 400px">
		<%= render partial: 'chats/recipients', locals: { allusers: @all_users, notifiedusers: @notified_users, followedusers: @followed_users} %>
	</div>
</div>

<div class="col-md-7 side-center">
	<div class="messages" id="recp-msgs">
		<%= render partial: 'chats/messages', locals: { msgs: @msgs, recipient: @user} %>
	</div>
	<div class="write" id="form">
		<%= render partial: 'chats/form', locals: { recp: @recp} %>	
	</div>
</div>


<div class="col-md-2 side-right">
	<div id="designs" style="height: 400px;overflow-y: auto">
		
	</div>
</div>






<script type="text/javascript">
	$(function() {
		$("#msg").animate({ scrollTop: $('#msg').height() }, "fast");
	});
</script>