<h2> Requests </h2>
<% if requests.count > 0 %>
	<% requests.each do |f| %>
		<div id="div<%=f.id%>" class="ibox float-e-margins conta container ">
			<div class="ibox-content">
			<h3 class="col-sm-8 font-bold">
        <%= link_to user_profile_path(id: f.id) do%>
          <%= f.name %>
        <% end %>
      </h3>
	       	<%= link_to "Accept",approved_path({from_id: f.id}),remote: true,method: "put", class: "btn btn-outline btn-success" %>
			<%= link_to "Cancel",cancel_path({from_id: f.id}),remote: true,method: "delete", class: "btn btn-outline btn-warning"%>
			</div>
		</div>
	<% end %>
	</div>
<% else %>
	<div class="ibox float-e-margins container">
		<div class="ibox-content">
		<h3>No Requests Found</h3>
		</div>
	</div>
<% end %>