<h2> All User </h2>
<% users.each do |u| %>
<div id="div<%=u.id%>" class="col-lg-4">
	<div class="contact-box">
		<h1><%= link_to u.name, user_profile_path(id: u.id) %></h1>
		<p>
			<i class="fa fa-map-marker"></i>
			<%=u.city.city_name%>
		</p>
		<div class="m-t text-righ">
			<% if @accepted.include?(u)%>
			<%= link_to 'UnFollow',unfollow_path({to_id: u.id}),remote: true,method: "delete", class: "btn btn-outline btn-success"%>
			<% elsif current_user.requested_by_me?(u) %>
			<%= link_to "Revert Request", revert_path({to_id: u.id}),remote: true,method: "delete",class: "btn btn-outline btn-warning"%>
			<% else %>
			<%= link_to "Follow", follows_path({to_id: u.id}),remote: true,method: "post",class: "btn btn-outline btn-success"%>
			<% end %>
			<%= link_to "Block" , block_path({to_id: u.id}),remote: true,method: "post", class: "btn btn-outline btn-danger" %>
		</div>
	</div>
</div>
<% end %>
