<h2> All User </h2>
<% users.each do |user| %>
	<div id="div<%= user.id%>" class="ibox float-e-margins container">
		<div  class="ibox-content">
			<%= link_to user_profile_path(id: user.id) do %>
			<h3 class="col-sm-8 font-bold"><%= user.name %></h3>
			<% end %>
			<% if @accepted.include?(user)%>
				<%= link_to 'UnFollow', unfollow_path({to_id: user.id}), remote: true, method: "delete", class: "btn btn-outline btn-default"%>
			<% elsif current_user.requested_by_me?(user) %>
				<%= link_to "Revert Request", revert_path({to_id: user.id}), remote: true, method: "delete", class: "btn btn-outline btn-default"%>
			<% else %>
				<%= link_to "Follow", follows_path({to_id: user.id}), remote: true, method: "post", class: "btn btn-outline btn-default"%>
			<% end %>
			<%= link_to "Block" , block_path({to_id: user.id}), remote: true, method: "post", class: "btn btn-outline btn-default" %>
		</div>
	</div>
<% end %>
