<h1>Users</h1>
<%= current_user.name%><br />
<% @users.each do |u| %>
	<%= u.name %>
	<%= u.id%>
	<% if @accepted.include?(u)%>
	<%= button_to "Unfollow", unfollow_path({to_id: u.id}) , method: "delete"%><br />
	<% elsif @requested.include?(u)%>
	<%= button_to "cancel request",unfollow_path({to_id: u.id}) , method: "delete"%><br />
	<%else %>
	<%= button_to "Follow", follow_path({to_id: u.id}), method: "post" %><br />
	<% end %>
<% end %>


