<% if @user == current_user %>
    <div class="container">
       <h3 class="p font-bold">
            <%= @user.name %>
        </h3>
        <div class="row">
        <%= link_to followings_path do%>
        <div class="col-md-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>followings</h3>
                    </div>
                    <div class="ibox-content">
                        <h4 class="no-margins">
                            <%= @user_following_count %></h4>
                    </div>
                </div>
        </div>
        <% end %>
        <%= link_to followers_path do %>
        <div class="col-md-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>followers</h3>
                    </div>
                    <div class="ibox-content">
                        <h4 class="no-margins">
                        <%= @user_follower_count %></h4>
                    </div>
                </div>
        </div>
        <% end %>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title ">
                        <h5>Designs</h5>
                            <div>
                                <%= link_to new_design_path, method: "get" ,:class =>"ibox-tools" do %>
                                    <button class="btn btn-success " type="button"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Upload</span></button>
                                <% end %>
                            </div>
                            <div>
                                <%= link_to favourite_images_path, method: "get" ,:class =>"ibox-tools" do %>
                                    <button class="btn btn-success " type="button"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Favourite List</span></button>
                                <% end %>
                            </div>
                    </div>
                    <% if @designs.count != 0 %>
                    <div class="ibox-content">
                        <div class="carousel-inner">
                            <div class="item gallery active">
                                <%= render partial: 'profile/userdesigns' %>
                        
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% else %>
<div class="container">                                               
   <h3 class="p font-bold">
        <%= @user.name %>
    </h3>
    <div class="row">
    <div class="col-md-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>followings</h3>
                </div>
                <div class="ibox-content">
                    <h4 class="no-margins">
                        <%= @user_following_count %></h4>
                </div>
            </div>
    </div>
    <div class="col-md-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>followers</h3>
                </div>
                <div class="ibox-content">
                    <h4 class="no-margins">
                    <%= @user_follower_count %></h4>
                </div>
            </div>
    </div>
    </div>
    <div class="row ">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title ">
                    <h5>Designs</h5>
                </div>
                <% if @designs.count != 0 %>
                    <div class="ibox-content">
                        <div class="carousel-inner">
                            <div class="item gallery active">
                                <%= render partial: 'profile/userdesigns' %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>