.col-md-2.left-sidebar
  -if !(current_administrator)
    .widget.widget-btn
      = link_to  t('questions.btn.new_question'), new_question_path,method: :get, class:" btn btn-success pull-left", style: 'color: #FFFFFF !important;','data-no-turbolink' => true
  .widget.widget-menus
    .menu-left-menu-container
      %ul#menu-left-menu-1.menu
        %li.fa-question-circle.menu-item.menu-item-type-custom.menu-item-object-custom.left-sidebar-link{ class: "#{menu_active_tab('all')}"}
          = link_to questions_path do
            %i.fa.fa-question-circle>
            = t('header_navigation.questions')
        %li.fa-tags.menu-item.menu-item-type-post_type.menu-item-object-page.left-sidebar-link{ class: "#{menu_active_tab('alltags')}"}
          = link_to tags_path(active_tab_menu: 'alltags')do
            %i.fa.fa-tags>
            = t('header_navigation.tags')
        %li.fa-users.menu-item.menu-item-type-post_type.menu-item-object-page.left-sidebar-link{ class: "#{menu_active_tab('members')}"}
          = link_to members_path(active_tab_menu: 'members') do
            %i.fa.fa-users>
            = t('header_navigation.users')
        %li.fa-users.menu-item.menu-item-type-post_type.menu-item-object-page.left-sidebar-link{ class: "#{menu_active_tab('allbadges')}"}
          = link_to badges_path(active_tab_menu: 'allbadges') do
            %i.fa.fa-trophy>
            = t('header_navigation.badges')