.col-md-2.right-sidebar
  .widget.widget-statistic
    %p.questions-count
      = t('right_side_bar.questions')
      %br
        %span
          = questions_count
    %p.students-count
      = t('right_side_bar.students')
      %br
        %span
          = students_count
    %p.teachers-count
      = t('right_side_bar.teachers')
      %br
        %span
          = teachers_count
  .widget.widget-related-tags
    %h3= t('right_side_bar.most_used_tags')
    %ul
      - most_used_tags.each do |tag|
        %li
          = link_to tag, questions_path(tag: tag.name), class: 'q-tag'
          = "x #{tag.taggings_count}"
    = link_to t('right_side_bar.see_more_tags'), tags_path
  .widget.widget-hot-questions
    %h3= t('right_side_bar.popular_question')
    = render partial: 'questions/most_viewed_questions', locals: {type: 'new',object: @questions} 
