<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top purple-bg" role="navigation" style="margin-bottom: 0">
        <div class="nav navbar-top-links navbar-left">
            <li>
                <%= link_to home_dashboard_path(design_selection: "All Designs") do %>
                Designer's Wallet
                <% end %>
            </li>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>
        </div>
        <% if user_signed_in? %>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <%= link_to destroy_user_session_path do %>
                <i class="fa fa-sign-out"></i><span>Log out</span>
                <% end %> 
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">

            <li>
                <%= link_to follows_path do%>
                <i class="fa fa-child"></i>
                <% end %>
            </li>
        </ul>       
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <%= link_to chats_path, class: "count-info" do %>
                <i class="fa fa-envelope"></i>
                    <% if @noti_count_chat > 0 %>
                        <span class="label label-info"><%=@noti_count_chat%></span>
                    <% end %>
                <% end %>
            </li>
        </ul> 
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <%= link_to responds_path ,class: "count-info" do%>
                <i class="fa fa-user"></i>
                    <% if @noti_count_follow > 0 %>
                        <span class="label label-warning"><%=@noti_count_follow%></span>
                    <% end %>
                <% end %>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <%= link_to profile_show_path do %>
                <i class="fa fa-user-circle"></i><span>Profile</span>
                <% end %> 
            </li>
        </ul>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <%= link_to home_dashboard_path(design_selection: "Following's Designs")do %>Home
                <% end %>
            </li>
        </ul>
        <% end %>
    </nav>
</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>



