<div class="row border-bottom">
    <nav class="navbar navbar-fixed-top purple-bg" role="navigation" style="margin-bottom: 0">
        <div class="nav navbar-top-links navbar-left">
            <li>
                <%= link_to home_dashboard_path(design_selection: "All Designs") do %>
                Designer's Wallet
                <% end %>
            </li>
        </div>
        <% if user_signed_in? %>
        <div class="navbar-header">
            <form role="search" class="navbar-form-custom" method="post" action="/">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search" />
                </div>
            </form>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li>
                <%= link_to destroy_user_session_path do %>
                <i class="fa fa-sign-out"></i><span>Log out</span>
                <% end %> 
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">

            <li>
                <%= link_to follows_path do%>
                    <i class="fa fa-child"></i>
                <% end %>
            </li>
        </ul>       
        
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <%= link_to chats_path, class: "count-info" do %> 
                <i class="fa fa-envelope"></i>
                <span class="label label-warning"><%= @noti_count_chat if @noti_count_chat != 0 %></span>
                <% end %>
            </li>
        </ul> 
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <%= link_to responds_path ,:class => "count-info" do%>
                    <i class="fa fa-user"></i><span class="label label-warning">18 </span>
                <% end %>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <%= link_to profile_show_path do %>
                <i class="fa fa-user-circle"></i><span>Profile</span>
                <% end %> 
            </li>
        </ul>
       
        <ul class="nav navbar-top-links navbar-right">
            <li>
            <%= link_to home_dashboard_path(design_selection: "Following's Designs")do %>Home
            <% end %>
            </li>
        </ul>
<% end %>
</nav>
</div>




